body{
    background-image: url("../images/cave.jpg");
    opacity: 70%;
}

header{
    background-image: linear-gradient(#a7cbd1, #2dcec6);
    border-style:inset;
    border-color:  #75e4f8;
    border-radius: 50%;
    opacity: 0.85;
}

.title-header{
    color: rgb(5, 51, 25);
    text-shadow: 2px 2px#153f1c;
    border-radius:50%;

    background-image: linear-gradient(#a7cbd1, #2dcec6);
}

h5{ 
    font-weight: bolder;
    border-radius:50%;
    background-image: linear-gradient(#a7cbd1, #2dcec6);
}

.image{
    width: 100%;
    height: auto;
    border-style: outset;
    border-radius: 50%;
    opacity: 1.0;
 }

 h2

/*Score Section*/
.score-played{
    margin: 0 auto 0 auto;
    padding: auto;
    text-align: left;
}
#score-title{
    margin: 0 0 0 0;
    padding: 0 0 0 0.5;
}
.btn-width{
        width: 90%;
}

