body{
    background-image: url("../images/cave.jpg");
    opacity: 70%;
}

header{
    background-image: linear-gradient(#a7cbd1, #2dcec6);
    border-style:inset;
    border-color:  #75e4f8;
    opacity: 0.85;
}

.title-header{
    color: rgb(5, 51, 25);
    text-shadow: 2px 2px#153f1c;
    background-image: linear-gradient(#a7cbd1, #2dcec6);
}

h5{ 
    font-weight: bolder;
    background-image: linear-gradient(#a7cbd1, #2dcec6);
}

.image{
    width: 100%;
    height: auto;
    border-style: outset;
    border-radius: 50%;
    opacity: 1.0;
 }

 

/*Score Section*/
.score-title{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.btn-width{
        width: 80%;
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
    h5{font-weight:normal;}    

}
    
   
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {  
    h5{font-weight:normal;}
}
   
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    
  }
   
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  

  }
